html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    border: 1px solid;
    background-color: aliceblue;
}

img.card-height {
    height: 200px;
}

img.card-border {
    border: 1px solid;
}
