@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description</p>
</div>

@section Scripts {
    <script>
        var link = document.getElementById('home_nav');
        link.classList.add('text-light');
    </script>
}