@{
    ViewData["Title"] = "Administration";
}
<style>
    .card_img_size {
        height: 400px;
    }
</style>

<div class="text-center m-2">
    <h1>Hello Administrator!</h1>
    <hr />
</div>

<div class="card bg-dark text-dark">
    <img class="card-img card_img_size" src="https://46ba123xc93a357lc11tqhds-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/amazon-alexa-event-sept-2019.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">Add Product Card</h5>
        <h6 class="card-text">As an administrator, you can create new products from here.</h6>
        <br />
        <a class="btn btn-primary" href="#">Add new Product</a>
    </div>
</div>

@section Scripts {
<script>
    var link = document.getElementById('administration_nav');
    link.classList.add('text-light');
</script>
}